{% extends 'EgzaktSystemBundle:Backend:layout.html.twig' %}

{% block content %}

    {% block content_header %}
        <h1>{{ section }}</h1>
    {% endblock %}

    {% block content_main %}
    {% endblock %}

    {% block content_footer %}
    {% endblock %}

{% endblock %}