<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Frontend</title>
    <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {% block body %}
        {% block content '' %}
    {% endblock %}
</body>
</html>