{% extends 'UnifikSystemBundle:Backend:layout.html.twig' %}

{% block section_title %}
    <h2><i class="fa fa-tachometer"></i> {% trans %}Dashboard{% endtrans %}</h2>
{% endblock %}

{% block content_wrapper '' %}