{% extends 'EgzaktSystemBundle:Backend:layout.html.twig' %}

{% block breadcrumbs '' %}

{% block content %}

    {% block content_header %}
        <h1>{{ section }}</h1>
    {% endblock %}

    {% block flash_message %}

        {% if app.session.flashbag.has('success') %}
            <div class="flash-success">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <p>{{ flashMessage|trans }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% if app.session.flashbag.has('error') %}
            <div class="flash-error">
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <p>{{ flashMessage|trans }}</p>
                {% endfor %}
            </div>
        {% endif %}

    {% endblock %}

    {% block content_main '' %}
    {% block content_footer '' %}

{% endblock %}