/*
	Backend - Main CSS
	Emilie - egzakt.com
	2011/07/18
*/

body {
    color: #333333;
    font: 75%/140% Arial, Helvetica, sans-serif;
    margin: 0;
}

body.with_dev_warning {
    /*margin-top:20px;*/
}

a {
    color: #333;
    cursor: pointer;
}

a:hover {
    color: #2882E6;
}

h1 {
    font: 2em/1.2em Georgia, Times, serif;
    color: #333;
    margin: 0 0 4px 0;
    padding-left: 10px;
}

h2#sub_content {
    background-color: #e8f6ea;
    font: 1.33em/1.2em Georgia, Times, serif;
    color: #333;
    margin: 17px 0 0 0;
    padding: 6px 10px;
    border: 1px solid #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

form {
    margin: 0;
}

/* HEADER
-----------------------------------------*/
#header {
    height: 70px;
    padding: 15px 20px 0 20px;
    position: relative;
    background-color: #fff;
}

#apps {
    position: absolute;
    top: 19px;
    right: 10px;
    padding: 6px;
    background-color: #E6E6E6;
}

#apps .padding {
    padding: 6px 2px 6px 10px;
    background-color: #fff;
    border: 1px solid #CCCCCC;
}

#apps h6 {
    float: left;
    font-size: 1.167em;
    line-height: 1.6em;
    text-transform: uppercase;
    margin: 0 10px 0 0;
}

#apps ul {
    float: left;
    padding-left: 10px;
    height: 22px;
    border-left: 1px solid #E6E6E6;
    font-size: 0.917em;
    line-height: 1.2em;
}

#apps li {
    float: left;
    margin-right: 8px;
}

#apps li a {
    display: inline-block;
    padding-right: 4px;
    background: url(/bundles/egzaktsystem/backend/images/buttons/apps_right.gif) no-repeat right 0;
    text-decoration: none;
}

#apps li a span {
    display: inline-block;
    height: 18px;
    padding: 4px 3px 0 7px;
    background: url(/bundles/egzaktsystem/backend/images/buttons/apps_left.gif) no-repeat left 0;
}

#apps li a.selected {
    color: #fff;
    background-position: right bottom;
}

#apps li a.selected span {
    background-position: left bottom;
}

/* LOGIN BAR
-----------------------------------------*/
#login_bar {
    height: 40px;
    background-color: #363636;
    padding: 0 10px 0 20px;
}

#login_bar h6 {
    font: normal 1.5em/1.2em Georgia, Times, serif;
    color: #fff;
    padding: 10px 0;
    margin: 0;
}

#login_bar #welcome {
    float: right;
    position: relative;
    margin-top: 4px;
    padding: 9px 12px;
    background-color: #000;
    border: 1px solid #4D4D4D;
    color: #fff;
    font-size: 0.92em;
    line-height: 1.1em;
}

#login_bar #login_name {
    margin-right: 96px;
}

#login_bar #login_name span {
    color: #A6A6A6;
}

#login_bar input {
    position: absolute;
    top: 5px;
    right: 7px;
    display: block;
    width: 84px;
    height: 20px;
    padding: 0;
    border: 0;
    font: 12px/14px Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    background: url(/bundles/egzaktsystem/backend/images/buttons/logout.gif) no-repeat left top;
}

#login_bar input:hover {
    cursor: pointer;
    background-position: 0 -20px;
}

#login_bar input:active {
    background-position: 0 -40px;
    padding: 2px 0 0 2px;
}

#login_bar ul.tools {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 14px 8px 0 0;
    font-size: 0.92em;
    line-height: 1.3em;
}

#login_bar ul.tools li {
    display: inline;
    padding-right: 13px;
}

#login_bar ul.tools a {
    color: #fff;
    padding: 2px 0 2px 19px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left center;
}

#login_bar ul.tools a#view_site {
    background-image: url(/bundles/egzaktsystem/backend/images/icons/view_site.gif);
}

#login_bar ul.tools a#help {
    background-image: url(/bundles/egzaktsystem/backend/images/icons/help.gif);
}

#login_bar ul.tools a:hover {
    text-decoration: underline;
}

/* LOGIN PAGE
-----------------------------------------*/
body#login_page {
    background: #e6e6e6 url(/bundles/egzaktsystem/backend/images/tiles/login_background.jpg) no-repeat center 0;
}

#wrapper_login {
    width: 346px;
    padding: 12px;
    margin: 110px auto 0 auto;
    background: url(/bundles/egzaktsystem/backend/images/tiles/login_form.png) no-repeat left top;
}

body#login_page #error_message {
    margin: 10px 0 0 13px;
    width: 260px;
}

#wrapper_login form {
    width: 260px;
    margin: 4px 40px 0 40px;
}

#wrapper_login label {
    display: block;
    padding: 15px 0 0 20px;
    margin-bottom: 2px;
    font-size: 1.17em;
    line-height: 1.2em;
    font-weight: bold;
}

#wrapper_login label.utilisateur {
    background: url(/bundles/egzaktsystem/backend/images/icons/user.gif) no-repeat 0 16px;
}

#wrapper_login label.mot_passe {
    background: url(/bundles/egzaktsystem/backend/images/icons/password.gif) no-repeat 0 16px;
}

#wrapper_login input {
    width: 250px;
    border: 1px solid #999999;
    padding: 3px;
    font: 12px/15px Arial, Verdana, sans-serif;
    color: #333;
}

#wrapper_login .button {
    text-align: right;
    margin-top: 15px;
}

#wrapper_login .button input {
    width: 85px;
    height: 33px;
    padding: 0;
    border: 0;
    font: 12px/14px Arial, Verdana, sans-serif;
    background: url(/bundles/egzaktsystem/backend/images/buttons/login.gif) no-repeat left top;
}

#wrapper_login .button input:hover {
    background-position: 0 -33px;
}

#form_connexion_bas {
    width: 370px;
    margin: 0 auto;
}

/* COLUMNS ARCHITECTURE
-----------------------------------------*/
#cols_wrapper {
    position: relative;
    background: url(/bundles/egzaktsystem/backend/images/tiles/cols_wrapper.gif) repeat-y 275px 0;
}

#navigation_col {
    float: left;
    width: 235px;
    padding: 15px 20px 0 20px;
}

#main_col {
    margin-left: 275px;
    padding: 20px;
    background-color: #e5e5e5;
}

/* SECTIONS NAVIGATION
-----------------------------------------*/
ul#sections {
    border-top: 1px solid #333;
}

ul#sections > li {
    border-bottom: 1px solid #333;
}

ul#sections > li > a {
    display: block;
    padding: 6px 15px 6px 0;
    font: 1.33em/1.2em Georgia, Times, serif;
    text-decoration: none;
}

ul#sections > li.with_sublevel {
    background: url(/bundles/egzaktsystem/backend/images/icons/level_1_arrows.gif) no-repeat 222px 13px;
}

ul#sections > li.open.with_sublevel {
    background-position: 222px -38px;
    border: 1px solid #333333;
    padding: 0 5px;
    margin-top: 8px;
}

ul#sections > li.selected.with_sublevel {
    border-color: #2882E6;
}

ul#sections > li.open > a {
    font-weight: bold;
}

ul#sections > li.selected > a {
    color: #2882E6;
}

ul#sections li.add a {
    background: #C7EACD url(/bundles/egzaktsystem/backend/images/icons/add_section.gif) no-repeat 98% center !important;
    border: 1px solid #99C3AF;
    font-weight: bold;
    color: #006837 !important;
}

/* Level 2 */
ul#sections ul.level_2 {
    margin-bottom: 5px;
}

ul#sections ul.level_2 > li > a {
    display: block;
    padding: 3px 5px;
    margin-bottom: 2px;
    background-color: #E6E6E6;
    text-decoration: none;
}

ul#sections ul.level_2 > li.add a {
    font-size: 0.917em;
    line-height: 1.2em;
    padding: 4px 5px;
}

ul#sections ul.level_2 > li.open {
    margin: 5px 0;
}

ul#sections ul.level_2 > li.open.with_sublevel {
    border: 1px solid #333;
    border-top: 0;
}

ul#sections ul.level_2 > li.selected.with_sublevel {
    border-color: #2882E6;
}

ul#sections ul.level_2 > li.open > a {
    color: #fff;
    font-weight: bold;
    background-color: #333;
}

ul#sections ul.level_2 > li.selected > a {
    background-color: #2882E6;
}

/* Level 3 */
ul#sections ul.level_3 {
    padding: 4px 5px;
    font-size: 0.917em;
    line-height: 1.2em;
}

ul#sections ul.level_3 > li > a {
    display: block;
    padding: 3px 5px;
    margin-bottom: 2px;
    background-color: #E6E6E6;
    text-decoration: none;
    color: #000;
}

ul#sections ul.level_3 > li.add a {
    padding: 2px 5px;
}

ul#sections ul.level_3 > li.open {
    margin: 5px 0;
}

ul#sections ul.level_3 > li.open:last-child,
ul#sections ul.level_3 > li.open.last-child {
    margin-bottom: 0;
}

ul#sections ul.level_3 > li.open.with_sublevel {
    border: 1px solid #333;
    border-top: 0;
}

ul#sections ul.level_3 > li.selected.with_sublevel {
    border-color: #2882E6;
}

ul#sections ul.level_3 > li.open > a {
    color: #fff;
    font-weight: bold;
    background-color: #333;
}

ul#sections ul.level_3 > li.selected > a {
    background-color: #2882E6;
}

/* Deeper levels */
ul#sections ul.level_4 {
    padding: 5px 5px 0 5px;
}

ul#sections ul.level_4 ul {
    padding: 2px 0 2px 11px;
}

ul#sections ul.level_3 ul li {
    border-bottom: 1px solid #D9D9D9;
}

ul#sections ul.level_3 ul li:last-child,
ul#sections ul.level_3 ul li.last-child {
    border-bottom: 0;
}

ul#sections ul.level_3 ul li.add {
    border-bottom: 0;
    font-size: 10px;
    line-height: 1.2em;
}

ul#sections ul.level_3 ul a {
    display: block;
    padding: 3px 5px 3px 11px;
    text-decoration: none;
    background: url(/bundles/egzaktsystem/backend/images/icons/sections_dot.gif) no-repeat 4px 7px;
}

ul#sections ul.level_3 ul li.add a {
    padding: 3px 5px;
    background: none;
}

ul#sections ul.level_3 ul li.open > a {
    color: #333;
    font-weight: bold;
}

ul#sections ul.level_3 ul li.selected > a {
    color: #2882E6;
    background-position: 4px -43px;
}

/* GLOBAL BUNDLES NAVIGATION
-----------------------------------------*/
ul#global_bundles {
    width: 235px;
    font-size: 1.083em;
    line-height: 1.1em;
    margin: 20px 0 76px 0;
}

ul#global_bundles a {
    display: block;
    position: relative;
    width: 187px;
    padding: 7px 20px 7px 28px;
    background: #E6E6E6 url(/bundles/egzaktsystem/backend/images/icons/global_bundles_arrow.gif) no-repeat 223px center;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 2px;
    text-decoration: none;
}

ul#global_bundles > li.selected > a {
    font-weight: bold;
    color: #2882E6;
}

ul#global_bundles img {
    position: absolute;
    top: 8px;
    left: 6px;
}

/* BREADCRUMBS
-----------------------------------------*/
ul#breadcrumbs {
    padding: 0 10px;
    margin-bottom: 6px;
    font-size: 0.917em;
    line-height: 1.4em;
}

ul#breadcrumbs li {
    display: inline;
}

ul#breadcrumbs a {
    text-decoration: none;
}

ul#breadcrumbs span {
    display: inline-block;
    padding: 0 6px;
}

ul#breadcrumbs strong {
    color: #2882E6;
}

/* BUNDLES NAVIGATION
-----------------------------------------*/
ul#bundles {
    overflow: hidden;
    background-color: #fff;
    font-size: 0.917em;
    line-height: 1.2em;
    border-top: 1px solid #CCCCCC;
    padding: 6px 0;
    margin-bottom: 12px;
}

ul#bundles li {
    float: left;
    padding: 4px 10px;
    border-right: 1px solid #E6E6E6;
}

ul#bundles a {
    display: inline-block;
    padding: 4px 8px;
    color: #000;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 8px center;
}

ul#bundles a.selected {
    background-color: #2882E6;
    border-radius: 2px;
    behavior: url(/_integration_backend/js/PIE.php); /* For IE < 9*/
    position: relative; /* For PIE */
    color: #fff;
}

ul#bundles a:hover {
    color: #2882E6;
}

ul#bundles a.selected:hover {
    color: #fff;
}

/* Icons */
ul#bundles a.text {
    padding-left: 22px;
    background-image: url(/bundles/egzaktsystem/backend/images/icons/text.gif);
    background-position: 8px 5px;
}

ul#bundles a.text:hover {
    background-position: 8px -45px;
}

ul#bundles a.text.selected {
    background-position: 8px -95px;
}

ul#bundles a.structure {
    padding-left: 26px;
    background-image: url(/bundles/egzaktsystem/backend/images/icons/structure.gif);
    background-position: 8px 4px;
}

ul#bundles a.structure:hover {
    background-position: 8px -46px;
}

ul#bundles a.structure.selected {
    background-position: 8px -96px;
}

ul#bundles a.db {
    padding-left: 22px;
    background-image: url(/bundles/egzaktsystem/backend/images/icons/db.gif);
    background-position: 8px 5px;
}

ul#bundles a.db:hover {
    background-position: 8px -45px;
}

ul#bundles a.db.selected {
    background-position: 8px -95px;
}

/* LANGUAGES
-----------------------------------------*/
#languages {
    float: right;
    font-size: 0.917em;
    line-height: 1.1em;
}

#languages li {
    display: inline;
}

#languages a {
    display: inline-block;
    padding: 4px 7px 4px 18px;
    margin: 3px 0 0 8px;
    background: #a8a8a8 url(/bundles/egzaktsystem/backend/images/icons/talk.png) no-repeat 6px 6px;
    border-radius: 2px;
    behavior: url(/_integration_backend/js/PIE.php); /* For IE < 9 */
    position: relative; /* For PIE */
    color: #fff;
    text-decoration: none;
}

#languages a:hover,
#languages li.selected a {
    background-color: #2881e5;
}

/* JUMPTO
-----------------------------------------*/
#jumpto {
    position: relative;
    float: right;
    margin: 2px 2px 0 0;
    z-index: 2;
}

#jumpto a#go {
    display: block;
    width: 90px;
    height: 16px;
    padding: 4px 5px 0 8px;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    behavior: url(/_integration_backend/js/PIE.php); /* For IE < 9 */
    position: relative; /* For PIE */
    background: #fff url(/bundles/egzaktsystem/backend/images/icons/jumpto_arrow.gif) no-repeat 89px 9px;
    font: 11px/13px Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#jumpto a#go.selected {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#jumpto > ul {
    display: none;
    width: 215px;
    position: absolute;
    top: 21px;
    right: 0;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    border-top-right-radius: 0;
    font-size: 0.917em;
    line-height: 1.2em;
    background-color: #fff;
}

#jumpto ul li {
    display: inline;
}

#jumpto ul li .groupe {
    padding: 4px 6px;
    background-color: #e6e6e6;
    font-weight: bold;
}

#jumpto ul li a {
    display: block;
    padding: 3px 6px;
    color: #333;
    text-decoration: none;
}

#jumpto ul li a:hover {
    background-color: #eef4fc;
}

#jumpto ul li a.selected {
    color: #2882E6;
}

#jumpto ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* LIST ACTIONS BAR
-----------------------------------------*/
#list_actions_bar {
    padding: 12px 10px;
    background-color: #fff;
}

#list_actions_bar.with_tabs {
    margin-top: 17px;
}

#list_actions_bar a.add {
    display: inline-block;
    height: 16px;
    padding: 4px 8px 0 23px;
    background: #39b54a url(/bundles/egzaktsystem/backend/images/icons/add.gif) no-repeat 8px 5px;
    border-radius: 2px;
    behavior: url(/_integration_backend/js/PIE.php); /* For IE < 9*/
    position: relative; /* For PIE */
    color: #fff;
    font-size: 0.92em;
    line-height: 1.1em;
    text-decoration: none;
}

#list_actions_bar a.add:hover {
    background-color: #61c46e;
    color: #fff;
}

#list_actions_bar a.job {
    display: inline-block;
    height: 16px;
    padding: 4px 0 0 21px;
    margin-left: 15px;
    font-size: 0.917em;
    line-height: 1.1em;
}

#list_actions_bar a.export_xls {
    background: url(/bundles/egzaktsystem/backend/images/icons/xls.png) no-repeat 0 2px;
}

#list_actions_bar a.email {
    background: url(/bundles/egzaktsystem/backend/images/icons/email.png) no-repeat 0 2px;
}

/* LIST
-----------------------------------------*/
.list_box {
    margin-top: 20px;
    background-color: #fff;
    padding: 5px 5px 10px 5px;
}

.list_box h2 {
    background-color: #e8f6ea;
    font: 1.33em/1.2em Georgia, Times, serif;
    color: #333;
    margin: 0;
    padding: 6px 10px;
    border-bottom: 1px solid #C7EACD;
}

.list_box table {
    width: 100%;
}

.list_box thead th {
    padding: 7px 10px 7px 0;
    text-align: left;
    font-size: 1.167em;
    line-height: 1.2em;
    font-weight: bold;
    background-color: #f3f8fd;
    border-bottom: 1px solid #D4E6FA;
}

/* Custom headers */
.list_box .default_ordering {
    display: none;
}

.list_box thead th.name {
    padding-left: 8px;
}

.list_box thead th.centered {
    text-align: center;
}

.list_box thead th.update {
    width: 110px;
}

.list_box .edit {
    width: 15px;
}

.list_box .delete {
    width: 12px;
}

.list_box th.switch_list_mode {
    text-align: right;
    padding-top: 4px;
    padding-bottom: 0;
}

/* Sortable headers */
.list_box table.table-autosort th.table-sortable {
    padding-left: 15px;
    cursor: pointer;
    background-image: url(/bundles/egzaktsystem/backend/images/icons/sortable.gif);
    background-repeat: no-repeat;
    background-position: 0 9px;
}

.list_box table.table-autosort th.table-sorted-desc {
    background-position: 0 -91px;
}

.list_box table.table-autosort th.table-sorted-asc {
    background-position: 0 -191px;
}

.list_box table.table-autosort th.name.table-sortable {
    padding-left: 23px;
    background-position: 8px 9px;
}

.list_box table.table-autosort th.name.table-sorted-asc {
    background-position: 8px -91px
}

.list_box table.table-autosort th.name.table-sorted-desc {
    background-position: 8px -191px;
}

/* Filters */
.list_box input.filter {
    border: 1px solid #b9cee6;
    width: 150px;
    padding: 3px;
    font: 12px/15px Arial, Helvetica, sans-serif;
    color: #333;
}

.list_box input.filter.unfocus {
    color: #aeb4ba;
}

.list_box tr {
    background-color: #fff;
}

.list_box td {
    padding: 6px 10px 6px 0;
    border-top: 1px solid #B3B3B3;
    vertical-align: top;
    background-color: #fff;
}

.list_box tbody tr:first-child td {
    border-top: 0;
}

.list_box td.name {
    padding-left: 8px;
}

.list_box td.name a {
    text-decoration: none;
}

.list_box td.name a:hover {
    text-decoration: underline;
    color: #333;
}

.list_box td.centered {
    text-align: center;
}

.list_box td.inactive,
.list_box td.inactive a,
.list_box td.inactive a:hover {
    color: #999999;
}

.list_box td.featured {
    font-weight: bold;
}

/* Draggable rows */
.list_box table.liste_sortable thead th {
    cursor: default;
}

.list_box tr.on_drag td {
    background-color: #ffffed;
}

.list_box tr.selected td {
    background-color: #eef4fc;
}

.total {
    padding: 8px 8px 0 8px;
    font-weight: bold;
    font-size: 1.167em;
    line-height: 1.2em;
    border-top: 2px solid #666666;
}

/* PAGINATOR
--------------------------------------*/
.paginator {
    border-top: 1px solid #B3B3B3;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.paginator li {
    display: inline;
}

.paginator li a,
.paginator li strong {
    display: inline-block;
    margin-right: 2px;
    text-decoration: none;
    color: #321E00;
}

.paginator li.number a,
.paginator li.number strong {
    border: 1px solid #B3B3B3;
    padding: 2px 7px;
}

.paginator li.previous a {
    margin-right: 10px;
}

.paginator li.next a {
    margin-left: 8px;
}

.paginator li a:hover,
.paginator li strong {
    color: #2882E6;
}

/* TABS
-----------------------------------------*/
ul.tabs {
    overflow: hidden;
    padding: 7px 10px 0 10px;
    border-bottom: 2px solid #999999;
    background-color: #CCCCCC;
    font-size: 0.917em;
    line-height: 1.2em;
}

ul.tabs li {
    float: left;
    padding: 0 8px 7px 0;
}

ul.tabs a,
ul.tabs span {
    display: inline-block;
    padding: 3px 8px;
    color: #000;
    text-decoration: none;
}

ul.tabs a:hover {
    color: #2882E6;
}

ul.tabs a.selected {
    background-color: #fff;
    border-radius: 2px;
    behavior: url(/_integration_backend/js/PIE.php); /* For IE < 9*/
    position: relative; /* For PIE */
    color: #2882E6;
}

/* FORM ACTIONS BAR
-----------------------------------------*/
form.with_tabs {
    margin-top: 17px;
}

.form_actions_bar {
    padding: 8px 10px;
    background-color: #fff;
    border: 1px solid #CCCCCC;
    overflow: hidden;
    height: 1%;
}

.form_actions_bar ul {
    float: left;
    padding-top: 3px;
    font-size: 0.917em;
    line-height: 1.2em;
}

.form_actions_bar li {
    display: inline;
}

.form_actions_bar ul span {
    display: inline-block;
    padding: 0 8px;
}

.form_actions_bar input {
    float: right;
    height: 20px;
    padding: 1px 5px;
    margin-left: 10px;
    border-radius: 2px;
    behavior: url(/_integration_backend/js/PIE.php); /* For IE < 9*/
    position: relative; /* For PIE */
    font: 0.917em/1.3em Arial, Helvetica, sans-serif;
}

.form_actions_bar input:active {
    border-left: 2px solid #009609;
    border-top: 2px solid #009609;
    padding: 2px 0 0 2px;
}

.form_actions_bar input.save {
    width: 76px;
    border: 2px solid #39b54a;
    background-color: #39b54a;
    color: #fff;
}

.form_actions_bar input.save_continue {
    width: 155px;
    border: 1px solid #39b54a;
    background-color: #fff;
    color: #34a543;
}

/* FORM
-----------------------------------------*/
#fields_box {
    margin: 5px 0;
    padding: 20px 10px;
    background-color: #fff;
}

#fields_box h3 {
    color: #333;
    font: 1.33em/1.2em Georgia, Times, serif;
    margin: 0 0 10px 0;
    color: #2882E6;
}

table.fields {
    border: 0;
    width: 100%;
    border-bottom: 1px solid #B3B3B3;
}

table.fields th {
    padding: 6px 20px 6px 3px;
    font-size: 1.167em;
    line-height: 1.3em;
    text-align: left;
    border-top: 1px solid #B3B3B3;
    vertical-align: top;
    white-space: nowrap;
}

table.fields tr.translation th label {
    color: #653DB8;
}

/* With child-selector to avoid overriding ckeditor */
table.fields > tbody > tr > td {
    width: 80%;
    padding: 5px 0;
    border-top: 1px solid #B3B3B3;
    vertical-align: top;
}

table.fields input,
table.fields textarea,
table.fields select {
    border: 1px solid #999999;
    padding: 3px;
    font: 12px/15px Arial, Helvetica, sans-serif;
    color: #333;
    margin-left: 1px;
}

table.fields th .note,
tr.collapsable_fields table.fields th .note {
    font-size: 0.786em;
    line-height: 1.2em;
    font-weight: normal;
    margin-top: 2px;
}

table.fields td .note {
    font-size: 0.917em;
    line-height: 1.2em;
}

table.fields td .warning {
    font-size: 0.917em;
    line-height: 1.2em;
    font-weight: bold;
    color: red;
    margin-bottom: 5px;
}

table.fields input.checkbox,
table.fields input.radio,
table.fields input[type=checkbox],
table.fields input[type=radio] {
    border: 0;
    padding: 0;
}

table.fields input.text {
    width: 450px;
}

table.fields textarea {
    height: 100px;
    width: 450px;
}

table.fields input.money {
    width: 80px;
}

table.fields input.password {
    width: 150px;
}

input.calendar {
    width: 90px;
    text-align: right;
    background: #fff url(/bundles/egzaktsystem/backend/images/icons/calendar.gif) no-repeat 3px 3px;
    cursor: pointer;
}

table.fields ul.tree {
    padding-bottom: 15px;
}

table.fields .tree ul {
    margin: 3px 0 0 25px;
}

table.fields .tree li {
    padding-bottom: 3px;
}

/* Collapsable Fields */
tr.collapsable_fields > td {
    padding: 0;
}

tr.collapsable_fields table.fields {
    border-bottom: 0;
}

tr.collapsable_fields a.slide_link {
    display: block;
    padding: 8px 13px 8px 22px;
    background: #EFF5FD url(/bundles/egzaktsystem/backend/images/buttons/collapsable_fields.gif) no-repeat 9px 11px;
    line-height: 1.2em;
    font-weight: bold;
    color: #808080;
    text-decoration: none;
}

tr.collapsable_fields a.slide_link:hover,
tr.collapsable_fields a.slide_link.selected {
    color: #2882E6;
    background-position: 9px -39px;
}

tr.collapsable_fields .slide_block {
    padding: 0 10px 0 22px;
    background-color: #EFF5FD;
}

tr.collapsable_fields table.fields tr:first-child th,
tr.collapsable_fields table.fields tr:first-child td {
    border-top: 0;
}

/* Files */
.uploaded_file {
    margin-bottom: 8px;
}

.delete_uploaded_file {
    margin-bottom: 5px;
}

.file_not_found {
    font-style: italic;
    padding: 1px 0 0 20px;
    background: url(/bundles/egzaktsystem/backend/images/icons/exclamation.png) no-repeat 0 0;
}

/* Messages */
#error_message {
    padding: 10px 8px 14px 45px;
    border: 1px solid #D42D35;
    margin-bottom: 12px;
    color: #DE4935;
    font-weight: bold;
    font-size: 1.167em;
    line-height: 1.2em;
    background: #fff url(/bundles/egzaktsystem/backend/images/icons/error.gif) no-repeat 10px 10px;

}

#error_message li {
    padding: 4px 0;
    border-bottom: 1px solid #B3B3B3;
}

.error,
.error label {
    color: #DE4935 !important;
}

.fields tr td .error {
    margin-top: 6px;
}

#fields_box > .error {
    margin-bottom: 8px;
}

#success_message {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: bold;
    color: #fff;
    background: url(/bundles/egzaktsystem/backend/images/tiles/success_opacity.png) repeat 0 0;
}

#success_message div {
    height: 75px;
    padding: 50px 20px 0 95px;
    background: url(/bundles/egzaktsystem/backend/images/icons/success.png) no-repeat 30px 40px;
}

/* EGZAKT
-----------------------------------------*/
#egzakt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 189px;
    height: 28px;
    padding: 17px 86px 0 0;
    border-top: 1px solid #E6E6E6;
    color: #B3B3B3;
    font-size: 0.833em;
    line-height: 1.2em;
    text-align: right;
}

#egzakt img {
    position: absolute;
    top: 13px;
    right: 20px;
}

/* MISC
-----------------------------------------*/
#dev_warning {
    display: none;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background: #FF0000 url(/bundles/egzaktsystem/backend/images/icons/warning.gif) no-repeat 8px 4px;
    color: #FFFFFF;
    font: 11px/15px Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

#dev_warning div {
    padding: 5px 10px 5px 30px;
}

span.cke_skin_kama {
    border: none !important;
    padding: 0 !important;
}

.pager li {
    display: inline;
}

.pager .selected {
    font-weight: bold;
    text-decoration: none;
}

.tooltip {
    display: none;
    padding: 6px 8px;
    line-height: 1.2em;
    max-width: 200px;
    background: #fefec7;
    box-shadow: 0 0 5px #999;
}

.translated {
    color: #aaa;
    font-style: italic;
}

#loading {
    display: none;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 50%;
    top: 50%;
    margin-top: -16px;
    margin-left: -16px;
    z-index: 1;
}

/* Delete dialog */
.ui-widget {
    font-size: 1em;
}

.ui-widget #delete_dialog {
    padding: 1em;
}

.ui-widget #delete_dialog ul {
    list-style-type: disc;
    padding-left: 18px;
    margin-top: 8px;
}