<li{% if selected %} class="selected"{% endif %}>
    <a href="{{ path('unifik_system_backend_section_root', { appSlug: managedApp.slug }) }}"><i class="fa fa-sitemap mr5"></i><span>{% trans %}Root Sections{% endtrans %}</span></a>
</li>
