<li{% if selected %} class="selected"{% endif %}>
    <a href="{{ path('flexy_system_backend_section_root', { appSlug: managedApp.slug }) }}"><img src="{{ asset('bundles/flexysystem/backend/images/icons/root_section.gif') }}" width="13" height="13" alt="" />{% trans %}Sections{% endtrans %}</a>
</li>
