<li{% if selected %} class="selected"{% endif %}>
    <a href="{{ path('egzakt_system_backend_section_root') }}"><img src="{{ asset('bundles/egzaktsystem/backend/images/icons/root_section.gif') }}" width="13" height="13" alt="" />{% trans %}Sections{% endtrans %}</a>
</li>
