<li{% if selected %} class="active"{% endif %}>
    <a href="{{ path('unifik_system_backend_section') }}">
        <strong><i class="fa fa-sitemap mr5"></i> {% trans %}Sections{% endtrans %}</strong>
    </a>
</li>