{% import 'UnifikSystemBundle:System:mapping_macro.html.twig' as renderer %}
<h5 class="sidebartitle">{% trans %}Application's modules{% endtrans %}</h5>
<nav>
    <ul class="nav nav-pills nav-stacked nav-bracket">
        {% for mapping in mappings %}
            {{ renderer.generate(mapping) }}
        {% endfor %}
    </ul>
</nav>