{% if globalModules %}
    <ul id="global_bundles">
        {% for globalModule in globalModules %}
            <li>
                {{ render(controller(globalModule.controller)) }}
            </li>
        {% endfor %}
    </ul>
{% endif %}