{% if locales and locales|length > 1 %}
    <li>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {% trans %}Content Language{% endtrans %}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                {% for locale in locales %}
                    <li{% if editLocale == locale.code %} class="selected"{% endif %}><a href="{{ locale.code }}" class="languages">{{ locale }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </li>
    <script>
        $('.languages').click(function(e) {
            e.preventDefault();
            window.location.href = window.location.href.replace(/[\?#].*|$/, "?edit-locale=" + $(this).attr('href'));
        });
    </script>
{% endif %}