{% if sections %}
    <ul id="sections">
        {% include 'EgzaktSystemBundle:Backend/Navigation:section_bar_level.html.twig' with { 'level': 2 } %}
    </ul>
{% else %}
    {% trans %}There is no section in this application.{% endtrans %}<br />
    <a href="{{ path('egzakt_system_backend_section_root_edit') }}">{% trans %}Create a new section{% endtrans %}</a>
{% endif %}