{% extends 'EgzaktSystemBundle:Frontend:layout.html.twig' %}

{% block content %}

    Frontend content block.<br />
    <a href="{{ path('egzakt_system_backend_dashboard') }}">Admin access</a>

{% endblock %}