{% extends 'FlexySystemBundle:Frontend:layout.html.twig' %}

{% block logo %}
    <h1 id="logo">{{ project_title }}</h1>
{% endblock %}

{% block main %}
    <div id="main" role="main" class="full">
        <div id="content_col">
            {{ render(controller('FlexySystemBundle:Frontend/Text:DisplayTexts')) }}
        </div>
    </div>
{% endblock %}