{% extends 'EgzaktSystemBundle:Backend:layout.html.twig' %}

{% block content %}

    <h1>{% trans %}Roles{% endtrans %}</h1>

    {% block flash_message %}
        {% include 'EgzaktSystemBundle:Backend/Core:flash_message.html.twig' %}
    {% endblock %}

    {% block content_main '' %}

{% endblock %}