{% extends 'FlexySystemBundle:Backend:layout.html.twig' %}

{% block content %}

    {% block content_header %}
        <h1>{% trans %}Role list{% endtrans %}</h1>
    {% endblock  %}

    {% block flash_message %}
        {% include 'FlexySystemBundle:Backend/Core:flash_message.html.twig' %}
    {% endblock %}

    {% block content_main '' %}

{% endblock %}