<li{% if selected %} class="selected"{% endif %}>
    <a href="{{ path('egzakt_system_backend_locale') }}"><img src="{{ asset('bundles/egzaktsystem/backend/images/icons/locale.png') }}" width="13" height="12" alt="" />{% trans %}Locales{% endtrans %}</a>
</li>
