<li{% if selected %} class="selected"{% endif %}>
    <a href="{{ path('flexy_system_backend_locale') }}"><img src="{{ asset('bundles/flexysystem/backend/images/icons/locale.png') }}" width="13" height="12" alt="" />{% trans %}Languages{% endtrans %}</a>
</li>
