<li{% if selected %} class="selected"{% endif %}>
    <a href="{{ path('unifik_system_backend_locale') }}"><img src="{{ asset('bundles/unifiksystem/backend/images/icons/locale.png') }}" width="13" height="12" alt="" />{% trans %}Languages{% endtrans %}</a>
</li>
