{% if sections %}
    <nav{% if attr|length %}{% for attribute, value in attr %} {{ attribute }}="{{ value }}"{% endfor %}{% endif %}>
        <ul class="level_1">
            {% include 'FlexySystemBundle:Frontend/Navigation:by_code_level.html.twig' with { 'sections' : sections, 'level': 1, 'maxLevel' : maxLevel } %}
        </ul>
    </nav>
{% endif %}