{% if routes|length %}
    <nav id="locales_navigation">
        <ul>
            {% for route in routes %}
                <li>
                    <a href="{{ route.url }}" title="{{ route.locale }}">{{ route.locale }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}