<li{% if selected %} class="selected"{% endif %}>
    <a href="{{ path('egzakt_system_backend_role') }}"><img src="{{ asset('bundles/egzaktsystem/backend/images/icons/users.gif') }}" width="13" height="12" alt="" />{% trans %}Roles{% endtrans %}</a>
</li>