<li{% if selected %} class="selected"{% endif %}>
    <a href="{{ path('unifik_system_backend_user') }}"><img src="{{ asset('bundles/unifiksystem/backend/images/icons/users.gif') }}" width="13" height="12" alt="" />{% trans %}Users{% endtrans %}</a>
</li>
