<div class="form_actions_bar">
    <ul>
        <li>
            <a class="refresh_token add" href="{{ path('flexy_system_backend_translation_rebuild_token') }}">{% trans %}Refresh Tokens{% endtrans %}</a>
        </li>
    </ul>
</div>