<tr class="collapsable_fields">
    <td colspan="2">
        <a class="slide_link">{{ link_name|trans }}</a>
        <div class="slide_block">
            <table class="fields" cellspacing="0">
                {% for field in fields %}
                    {{ field|raw }}
                {% endfor %}
            </table>
        </div>
    </td>
</tr>

<script type="text/javascript">
    $(function(){
        $('.slide_block th.error').parents('.slide_block').show();
    });
</script>