<tr class="collapsable_fields">
    <td colspan="2">
        <a href="#" class="slide_link">{{ link_name|trans }}</a>
        <div class="slide_block">
            <table class="fields">
                {% for field in fields %}
                    {{ field|raw }}
                {% endfor %}
            </table>
        </div>
    </td>
</tr>