{% if app.session.flashbag.has('success') %}
    <div class="flash-success">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <p>{{ flashMessage|trans|striptags }}</p>
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashbag.has('error') %}
    <div class="flash-error">
        {% for flashMessage in app.session.flashbag.get('error') %}
            {% if flashMessage[0] is defined %}
                <ul>
                {% for message in flashMessage %}
                    <li>{{ message|trans|striptags }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>{{ flashMessage|trans|striptags }}</p>
            {% endif %}

        {% endfor %}
    </div>
{% endif %}