<div class="logopanel">
    <h1>
        <a href="{{ path('unifik_system_backend_dashboard') }}" class="unifik_egzakt clearfix">
            <img src="{{ asset('bundles/unifiksystem/backend/images/graphics/logo.png') }}" width="125" height="43" alt="{{ project_title }}" title="{{ project_title }}" />
            <span>bâti sur Symfony<br>par Egzakt</span>
        </a>
    </h1>
</div>