{% extends 'UnifikSystemBundle:Backend:layout.html.twig' %}

{% block section_title %}
    <h2><i class="fa fa-users"></i> {% trans %}Users{% endtrans %}</h2>
{% endblock %}

{% block content %}

    {% block flash_message %}
        {% include 'UnifikSystemBundle:Backend/Core:flash_message.html.twig' %}
    {% endblock %}

    {% block content_header %}
    {% endblock %}

    {% block content_main %}
    {% endblock %}

    {% block content_footer %}
    {% endblock %}

{% endblock %}