{% extends 'FlexySystemBundle:Backend/Text:layout.html.twig' %}

{% block content_header %}
    <h1>{% trans %}Texts list{% endtrans %}</h1>
{% endblock %}

{% block content_main %}

    <script type="text/javascript">
        var url_ordre = '{{ path('flexy_system_backend_text_order') }}';
    </script>

    <div id="list_actions_bar">
        <a class="add" href="{{ path('flexy_system_backend_text_edit') }}">{% trans %}Add a text{% endtrans %}</a>
    </div>

    <div class="list_box">
        <h2>{% trans %}Main{% endtrans %}</h2>
        {% include 'FlexySystemBundle:Backend/Text/Text:list_table.html.twig' with { entities: mainEntities } %}
    </div>

    {% if staticEntities %}
        <div class="list_box">
            <h2>{% trans %}Static block{% endtrans %}</h2>
            {% include 'FlexySystemBundle:Backend/Text/Text:list_table.html.twig' with { entities: staticEntities } %}
        </div>
    {% endif %}

{% endblock %}