{% extends 'EgzaktSystemBundle:Backend:layout.html.twig' %}

{% block body_attr 'id="login_page"' %}

{% block body %}

    {% include 'EgzaktSystemBundle:Backend/Core:header.html.twig' %}

    <div id="login_bar">
        <h6>{% trans %}Content Management System (CMS){% endtrans %}</h6>
    </div>

    <div id="wrapper_login">

        {% if error %}
            <div id="error_message">
                <ul>
                    <li>{{ error.message|trans }}</li>
                </ul>
            </div>
        {% endif %}

        <form id="login_form" action="{{ path('egzakt_system_backend_login_check') }}" method="post">
            <label class="utilisateur" for="connexion_utilisateur_nom">{% trans %}User{% endtrans %}</label>
            <input type="text" name="_username" id="connexion_utilisateur_nom" />

            <label class="mot_passe" for="connexion_mot_passe">{% trans %}Password{% endtrans %}</label>
            <input type="password" name="_password" id="connexion_mot_passe" />

            <div class="button"><input type="submit" value="{% trans %}Sign In{% endtrans %}" /></div>
        </form>

    </div>
    <div id="form_connexion_bas"><img src="{{ asset('bundles/egzaktsystem/backend/images/graphics/login_form_bottom.png') }}" width="370" height="20" alt="" /></div>

{% endblock %}