{% extends 'UnifikSystemBundle:Backend:layout.html.twig' %}

{% block body_attr 'class="signin"' %}

    {% block body %}

        <section>

            <div class="signinpanel">

                <div class="row">

                    <div class="col-md-7">

                        <div class="signin-info">
                            <div class="logopanel">
                                <h1><span>[</span> Unifik <span>]</span></h1>
                            </div><!-- logopanel -->

                            <div class="mb20"></div>

                            <h5><strong>{% trans %}Welcome to Unifik{% endtrans %}!</strong></h5>
                            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                        </div><!-- signin0-info -->

                    </div><!-- col-sm-7 -->

                    <div class="col-md-5">

                        <form id="login_form" method="post" action="{{ path('unifik_system_backend_login_check') }}">
                            <h4 class="nomargin">{% trans %}Sign In{% endtrans %}</h4>

                            {% if error %}
                                <div id="error_message">
                                    <ul>
                                        <li>{{ error.message|trans }}</li>
                                    </ul>
                                </div>
                            {% endif %}

                            <input type="text" class="form-control uname" name="_username" placeholder="{% trans %}Username{% endtrans %}" />
                            <input type="password" class="form-control pword" name="_password" placeholder="{% trans %}Password{% endtrans %}" />
                            <button class="btn btn-success btn-block" id="signin">{% trans %}Sign In{% endtrans %}</button>

                        </form>
                    </div><!-- col-sm-5 -->

                </div><!-- row -->

                <div class="signup-footer">
                    <div class="pull-left">
                        &copy; {{ 'now'|date('Y') }} Egzakt. {% trans %}All Rights Reserved{% endtrans %}.
                    </div>
                </div>

            </div><!-- signin -->

        </section>

{% endblock %}