{% if is_granted('ROLE_DEVELOPER') and role.role != 'ROLE_DEVELOPER' %}
    <td class="impersonate"><a href='{{ path('flexy_system_backend_dashboard', { _want_to_be_this_user: user.username }) }}'><img src="{{ asset('bundles/flexysystem/backend/images/icons/users.gif') }}" width="13" height="12" alt="{% trans %}Impersonate{% endtrans %} {{ user.username }}" title="{% trans %}Impersonate{% endtrans %} {{ user.username }}" /></a></td>
{% endif %}