<li{% if selected %} class="selected"{% endif %}>
    <a href="{{ path('flexy_system_backend_member') }}"><img src="{{ asset('bundles/flexysystem/backend/images/icons/super_admin.gif') }}" width="13" height="12" alt="" />{% trans %}Members{% endtrans %}</a>
</li>
